$base-color: #4F46E5;
$base-color-130: #2C21E4;
$base-color-10: #CBCAE9;
$base-color-05: #E0DFED;
$base-color-01: #EFEFEF;
$base-color-00: #DFDEFF;

$secondary-color: #0B1220;
$secondary-color-20: #393B40;
$secondary-color-10: #0b12201a; // with 10% opacity
$secondary-color-08: #0b122014; // with 8% opacity
$secondary-color-01: #EFEFEF;

$danger-color: #BF2D24;
$danger-color-130: #781E19;
$danger-color-01: #FFEFEE;

$white-color: #FFFFFF
